  html{
    box-sizing: border-box;}
    *,
    *: before, 
    *: after {
      box-sizing: inherit;
      padding: 0;
      margin: 0;
    }
    body{
     background-image: url();
     width: 100%;
     height: 100%;
     background-position: bottom center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: #464646;
     font-family:"Quicksand";
     font-size: 1.2em;
     line-height: 1.375em;
     padding: 0;
     margin: 0;

     background-color: #2F3A3B;
     -webkit-font-smoothing: antialiased;

   }
   navbar-brand{

    height: 3em;
    width: 3em;
    margin-top: -8px;

    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: -8px
  }


  .avatar{
    border-radius: 5em;
    margin-right: .5em;
    margin-left: 0em;

  }
  .intro{
    display: inline-block;
    width: 100%;
    padding: 65px 0 65px;

    background-color: #2A2332;
    background-size: cover;
    font-size: 1.9em;
    text-align: center;
    color: #FFF;

  }

  h1{
    font-weight: medium;
    text-shadow:5px 5px 10px black;
    position: center;
  }

  

  .container{
    margin-top: 1em;

    margin-right: 1em;

  }


  .bigicon {
    font-size: 35px;
    color: #808080;

  }

  .input-icon {
    position: absolute;
    left: .5rem;
    top: .7rem;

    /* Keep icon in center of input, regardless of the input height */
  }

  .btn{
    margin-right:30%;
  }

  .input-icon {

   position: absolute;
   left: .5rem;
   top: .9rem;
 }

 #message {
  vertical-align: middle;
}

input {
  padding-right: 30px;
}

.form-control {
  padding-left: 2rem;
  width: 75%;
}

.input-wrapper {
  position: relative;


}


.copyright{
  bottom: 0%;
  position: fixed;
  color: #FFF;
  margin-left: .5%;
  font-size: 65%;
}


/*small devices (landscape phones, 576px and up)*/
@media (min-width: 576px){
  }
  .form-control{
    width: 95%;

  }
  .btn{
    margin:auto;
  }
}

/*medium devices (tablets, 768px and up)*/
@media (min-width: 768px){
  .form-control{
    width: 95%;

  }
  .btn{
    margin:auto;
  }
}
/*larg devices (desktops, 992px and up)*/
@media (min-width: 992px){
 .form-control{
  width: 95% !important; 
}
.btn{
  margin: auto;
}
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px){
 
 .form-control{
  width: 75% !important;
}
.btn{
  margin-right: 11rem;
}
}