body {
 background: #466368;
  text-align: justify;
  text-decoration: none;
  font-family: 'Marvel', sans-serif;
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: #333;
}

ul.icons {
  position: absolute;
  right: 0px;
}

ul.links {
  height: 50px;
}

ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: right;
  padding: 10px 13px;
  text-decoration: none;
}


.images{
	margin: 30px 50px;
	
}

.images img{
  width: 230px;
  padding:5px;
  filter: grayscale(100%);
  transition: .5s;
}

.images img:hover{
  filter: grayscale(0);
  transform: scale(1.1);
}
